

.ams-content {max-width: 1140px; margin-left: auto; margin-right: auto; }
.entry .entry-content > *, .entry .entry-summary > *, .entry .entry-summary > .wp-block-group > .wp-block-group__inner-container > *, .entry .entry-content > .wp-block-group > .wp-block-group__inner-container > *{max-width: 1160px;}
.wp-block-column {
    
    min-width: auto;}

.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide){max-width: 1160px;}

.main-content .productstyle {position: relative; float: left; width: 45%; display: block; padding: 10px 20px; line-height: 1.42857143; background-color: #fff; border-radius: 6px; -webkit-transition: border .2s ease-in-out; -o-transition: border .2s ease-in-out; transition: border .2s ease-in-out; min-height: 230px; margin:0px 8px 30px 8px ;
 -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2); box-shadow:0px 0px 7px 0px rgba(0,0,0,0.2); }
.productstyle .btn-common {background-color: #007bff; display: inline; padding: 7px 9px; font-size: 14px; font-weight: 600; line-height: 1; color: #fff; text-align: center; white-space: nowrap; vertical-align: middle; border-radius: 3px; cursor: pointer; transition: all 400ms ease; }
.productstyle .btn-common:hover{background-color: #007bffd1; }
.productstyle .btn-common.label-danger{background-color: #6c757d;}
.productstyle .btn-common.label-danger:hover{background-color: #6c757dc9; }
.productstyle .asset_item .label {font-size: 14px; line-height: 14px; }

.ul-cat-wrap li a {
    text-decoration: none !important;
}

.main-content{margin-top: 15px; /*width: fit-content;*/}
.main-content .left-col{flex-basis:30%}
.main-content .right-col{flex-basis:70% ;margin-left: 20px;}
.right-col-wrap {width: 100%; display: flex; flex-wrap: wrap; }
/*.searchbox input[type=text]{padding: 0.5em;
    width: 100%; border: none; border-radius: 20px; box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}*/
.searchbox input{width: 100%;}
.ul-cat-wrap{padding: 0px 15px;}
.ul-cat-wrap li {padding-bottom: 10px; list-style: square; font-size: 15px; color: #acacac; transition: 400ms ease;}


.productstyle p.product-title{font-size: 16px;line-height: 29px;
    font-weight: bold; min-height: 58px;}

.product-img-wrap {margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px; margin-bottom: 28px; }
.product-img-wrap img {width: 100%; height: 100%; object-fit: cover; }



.main-content.main-content-three-col .left-col{/*flex-basis:20%;*/ padding: 0px 10px;}
.main-content.main-content-three-col .right-col{flex-basis:100% ;margin-left: 20px;}
.main-content.main-content-three-col .productstyle {float: left; width: 30%;  }

/*four*/
.main-content.main-content-four-col .left-col{/*flex-basis:20%;*/ padding: 0px 10px;}
.main-content.main-content-four-col .right-col{flex-basis:100% ;margin-left: 20px;}
.main-content.main-content-four-col .productstyle {float: left; width: 22%; min-width: min-content; }
/**/

.productstyle .btn-common a{color:#fff; text-decoration: none;}
.bottom-fix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.price-main p {
    font-size: 16px;
    font-weight: bold;
}
.memberprice
{
    font-size: 14px;
    margin-bottom: 5px;
    padding-bottom: 5px;
     /*color: #252222;*/
}

p.price-non-mem {
    font-size: 14px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    /*color: #a89f9f;*/
}

.loaderdiv{text-align: center;}


@media(min-width: 1299px){

.site-content .wrap {
    /*max-width: 1140px;*/
    padding-left: 2em;
    padding-right: 2em; }


}

@media(max-width: 1199px){

.eventdetail .event-detail-sec .right-sec .ragister-sec .reg-sec {display: block; margin-right: 0; }
.eventdetail .event-detail-sec .right-sec .ragister-sec .evtdate {display: block; margin-right: 0; margin-top: 10px; }
.eventdetail .event-detail-sec .right-sec .ragister-sec .time {display: block; margin-top: 10px; }
.ams-content {max-width: 100%; margin: 0 auto;}

}



}



@media(max-width: 991px){

    .productstyle p.product-title {
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;
    }

    .main-content .productstyle {padding: 10px 14px;}


}

@media(max-width: 778px){

.main-content-wrap .main-content{display: block;}
.main-content-wrap .main-content .left-col{flex-basis:100%}
.main-content-wrap .main-content .right-col{flex-basis:100% ;margin-left: 0px;}

.main-content-wrap .main-content.main-content-three-col .left-col{flex-basis:100%}
.main-content-wrap .main-content.main-content-three-col .right-col{flex-basis:100% ;margin-left: 0px;}
.main-content-wrap .main-content.main-content-three-col .productstyle {width: 45%;  }

/*Four*/
.main-content-wrap .main-content.main-content-four-col .left-col{flex-basis:100%}
.main-content-wrap .main-content.main-content-four-col .right-col{flex-basis:100% ;margin-left: 0px;}
.main-content-wrap .main-content.main-content-four-col .productstyle {width: 45%;  }
/**/

.ul-cat-wrap li {display: inline-flex; padding: 7px 12px; border: 1px solid #dfdfdf; \margin-right: 11px; \margin-botto\m: 20px; border-radius: 4px; }
.ul-cat-wrap {padding: 0px 0px; }


.product-img-wrap {margin-bottom: 5px; }

}



@media(max-width: 567px){

.main-content .productstyle {
    width: 100%;}
.main-content-wrap .main-content.main-content-three-col .productstyle {width: 100%;  }

/*four*/
.main-content-wrap .main-content.main-content-four-col .productstyle {width: 100%;  }
/**/


}

/*Product Detail*/

.product-detail-wrap .pro-detail-inner {width: 100%; display: flex; }
.product-detail-wrap .pro-detail-left {width: 50%; }
.product-detail-wrap .pro-detail-right {width: 50%; padding: 20px 10px 20px 20px; }
.product-detail-wrap .pro-img {padding: 10px 18px; width: 100%; height: auto; }
.product-detail-wrap .pro-img img {object-fit: cover; width: 100%; height: 100%; }
.product-detail-wrap .cat-name p {margin-bottom: 10px; color: #706868; font-size: 15px;
    font-weight: 600;
    text-transform: capitalize; }
.product-detail-wrap .pro-name p {font-size: 20px; font-weight: bold; margin-bottom: 17px; }
.product-detail-wrap .price_types p.pro-price {margin-bottom: 6px; /* display: flex; */ font-weight: bold; color: #393b39; }
.product-detail-wrap .price_types p.pro-price.non-mem {color: #f45f5f; font-weight: 600; }
.product-detail-wrap .btn-common {background-color: #007bff; display: inline; padding: 7px 9px; font-size: 14px; font-weight: 600; line-height: 1; color: #fff; text-align: center; white-space: nowrap; vertical-align: middle; border-radius: 3px; cursor: pointer; transition: all 400ms ease; }
.product-detail-wrap .btn-common:hover{background-color: #007bffd1; }
.product-detail-wrap .btn-common.label-danger{background-color: #6c757d;}
.product-detail-wrap .btn-common.label-danger:hover{background-color: #6c757dc9; }
.product-detail-wrap .btn-common a{color: #fff;text-decoration: none;}

.product-detail-wrap .barcode.cat-name {display: flex; }
.product-detail-wrap .barcode.cat-name spna.B-text {padding-left: 12px; font-weight: bold; font-size: 14px; }
.product-detail-wrap .barcode.cat-name p {font-size: 14px; margin-bottom: 5px; color: #686868; }
.product-detail-wrap .product-des {margin: 10px 0px; width: 50%; box-shadow: inset 1px 0px 5px 0px rgba(0,0,0,0.1); padding: 20px; border-radius: 10px; }
.product-detail-wrap .product-des p.product-des-title {font-weight: bold; margin-bottom: 12px; font-size: 18px; letter-spacing: 0.5px; }
.product-detail-wrap .product-des p.pro-des-text {white-space: pre-line; font-size: 14px; line-height: 28px; color: #767979; margin-bottom: 10px; }
.product-detail-wrap .included_accessories {font-size: 15px; line-height: 28px; color: #767979; white-space: pre-line; }
.product-detail-wrap .acc-des{width: 100%; margin-top: 10px;}
.product-detail-wrap .product-des-wrap {
    display: flex;
}
.product-detail-wrap .product-des.m-r-pro{margin-right: 10px;}

.product-detail-wrap  img.back-img {
    width: 13px;
    margin-right: 8px;
    padding-right: 1px;
}




@media(max-width: 991px){

.product-detail-wrap .pro-detail-right {width: 50%; padding: 20px 10px 20px 10px; }
.product-detail-wrap .pro-img {padding: 10px 10px;}
.product-detail-wrap .product-des-wrap {display: block; }
.product-detail-wrap .product-des {width: 100%; margin: 30px 0px;}

}

@media (min-width:991px) and (max-width:1024px) {
/*four*/
.main-content-wrap .main-content.main-content-four-col .productstyle {float: left; width: 30%;  }
/**/
}

@media (min-width:1025px) and (max-width:1195px) {
/*four*/
.main-content-wrap .main-content.main-content-four-col .productstyle {float: left; width: 30%;  }
/**/
}    

@media(max-width: 567px){

.product-detail-wrap .pro-detail-inner {width: 100%; display: block; }
.product-detail-wrap .pro-detail-left {width: 100%; }
.product-detail-wrap .pro-detail-right {width: 100%; padding: 20px 5px; }
.product-detail-wrap .pro-name p {margin-bottom: 15px; }
.product-detail-wrap .cat-name p {margin-bottom: 0px;}
.product-detail-wrap .available-details .d-n{display: none;}
.product-detail-wrap .product-des {margin: 10px 0px; padding: 10px;}
.product-detail-wrap .product-des p.pro-des-text {margin-bottom: 14px; }
.product-detail-wrap .product-des p.product-des-title {margin-bottom: 8px; font-size: 16px; }
.product-detail-wrap .pro-img {padding: 0; height: auto; }
.product-detail-wrap .price_types p.pro-price.non-mem {padding-bottom: 10px; }

.site-content .wrap {padding-left: 1em; padding-right: 1em; }

.mobileviewonly{display: block !important;}
#cagegorydata{width: 100%; margin-bottom: 15px;}
.getcategoryid {display: none;}

}

@media screen and (min-width: 48em)
{
    .has-sidebar:not(.error404) #primary {
        float: left;
        width: 100%;
    }

}

@media screen and (min-width: 48em)
{
    .entry-content{width: 100% !important;}
}

.centertext{text-align: center; justify-content: center;}
.wp-block-column.left-col.col-fit{ min-width: max-content;}
.searchbox {margin-bottom: 15px;}
.mobileviewonly{display: none;}
.mobileviewonly select{font-size: 16px;}


.eventlayout-image {
    width: -webkit-fill-available;
    margin: -10px -20px 10px -20px;
}

.eventtitle p{ margin-bottom: 8px; font-size: 14px; font-weight: 600;}

.eventtitle p.product-title {
    font-size: 16px;
    line-height: 26px;
    min-height: auto;
}

.eventbutton {text-align: center;}
#seemore{
    display: inline-block;
    color: #fff;
    padding: 4px 25px;
    border: none;
}






/*Event Detail start 05-10-20*/

.text-italic{font-style: italic;}

.eventdetail { width: 100%;}

.eventdetail .event-img-sec {width: 100%; display: flex; /*flex-wrap: wrap;*/ }
.eventdetail .event-img-sec .img-sec {width: 65%; }
.eventdetail .event-img-sec .ing-title {width: 35%; padding: 60px 30px 0; background-color: #ececec; }
.eventdetail .event-img-sec .ing-title h1{font-size: 20px; color: #1E0A3C; font-weight: bold; text-transform: capitalize; line-height: 1.5;}

.eventdetail .event-detail-sec {width: 100%;display: flex; /*flex-wrap: wrap;*/}
.eventdetail .event-detail-sec .left-sec {width: 65%; padding: 60px 15px; }
.eventdetail .event-detail-sec .left-sec h1 {font-size: 16px; margin-bottom: 30px; font-weight: bold; text-transform: lowercase; }
.eventdetail .event-detail-sec .left-sec h2 {font-size: 20px;margin-bottom: 0;}
.eventdetail .event-detail-sec .left-sec .text-sec{margin: 30px 0;}
.eventdetail .event-detail-sec .left-sec .text-sec p{color: #6F7287;font-size: 16px;line-height: 1.5rem;margin-bottom: 20px;}
.eventdetail .event-detail-sec .left-sec .text-sec hr {border: 0; border-top: 0; height: 2px; margin-bottom: 30px; border-bottom: 2px dashed #6F7287; }

.eventdetail .event-detail-sec .right-sec{width: 35%; padding: 60px 10px 0;} 
.eventdetail .event-detail-sec .right-sec h3{font-size: 18px;color: #1E0A3C; line-height: 1.4rem; font-weight: 600; text-transform: capitalize;margin-bottom: 2px;} 
.eventdetail .event-detail-sec .right-sec p{font-size: 16px;margin-bottom:0px;color: #000; }
.eventdetail .event-detail-sec .right-sec .date-time-sec{margin-bottom: 8px;}

/*End Event Detail*/


@media(max-width: 991px){

.eventdetail .event-img-sec .ing-title {padding: 60px 25px 0;}
.eventdetail .event-img-sec .ing-title h1 {font-size: 18px;}
.eventdetail .event-detail-sec .left-sec {padding: 60px 20px; }
.eventdetail .event-img-sec { flex-wrap: wrap; }


}

@media(max-width: 767px){

.eventdetail .event-img-sec .img-sec {width: 100%;}
.eventdetail .event-img-sec .ing-title {padding: 30px 0; width: 100%; background-color: #fff0; }

.eventdetail .event-detail-sec .left-sec {padding: 0; padding-right: 20px; width: 60%; }
.eventdetail .event-detail-sec .right-sec {width: 40%; padding: 0;}
.eventdetail .event-img-sec .img-sec img{ height: auto !important;}
.assetssidebar{width: 100%; margin: 0px 15px 30px 0px !important; padding: 15px 15px !important;}
.eventdetail .event-detail-sec { flex-wrap: wrap;}

}

@media(max-width: 500px){

.eventdetail .event-detail-sec {flex-direction: column-reverse;} 
.eventdetail .event-detail-sec .right-sec {width: 100%; padding: 0; margin-bottom: 20px; }
.eventdetail .event-detail-sec .left-sec {padding: 0; padding-right: 0; width: 100%; }

.assets-list-items .product-img{margin: 0 auto;}

}

.eventdetail .event-img-sec .img-sec img {
    object-fit: cover;
    height: 360px;
    width: 100%;
}
.location-sec {
    margin-bottom: 8px;
}

.enrtop {
    margin-top: 20px;
}
.enrollment h3{font-size: 15px;margin-bottom: 5px;}
.enrollment p{font-size: 16px;padding-bottom: 10px;}
.alltypeevent .ul-cat-wrap, .allstatus .ul-cat-wrap, .evtlocation .ul-cat-wrap, .taglabels .ul-cat-wrap {
    padding: 0px 15px;
    font-size: 16px;
    padding: 4px 10px;
    margin: 0px 0px 25px 0px;
    width: 100%;
}

.othertitle{text-transform: uppercase; padding-top: 15px;}

.inputsearchbutton
{
    display: inline-block;
    color: #fff;
    padding: 4px 25px;
    border: none; 
}

.buttonloader
{
    width: 60px;
    padding: 0px 0px 0px 26px;
    display: none;
    position: absolute;
}

.ragister-sec {width: 100%; margin-bottom: 20px; }
.ragister-sec .reg-sec {display: inline-block; margin-right: 10px; }
.ragister-sec .time {display: inline-block; }

.ragister-sec .reg-sec a {border-radius: 5px; padding: 10px; color: #fff; }
.ragister-sec .reg-sec a:hover{text-decoration:none; }
.ragister-sec .evtdate {display: inline-block; margin-right: 10px; }
.datetimelable {margin-bottom: 10px;}

.ragister-sec  .timeclass{padding: 2px 0px 2px 0px;}


.row.member-entry {
    border: 1px solid #f1f1f1;
    margin-top: 1rem;
    border-radius: 3px;
    box-shadow: 5px 5px 3px -3px #d6d6d6;
    padding: 0.8rem 0.5rem;
}
#member-details-area {
    /* width: 70%; */
    background: #fff;
    padding: 2rem 0 !important;
    margin: 2rem 0;
}
.member-item {
    color: #3a3a3a;
}
.user-image {
    text-align: center;
}
img.member-image {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 0.5rem;
}

.statusstring{
    background: #6e7780;
    color: #f5f9fc;
    padding: 5px 25px;
    position: relative;
    bottom: 25px;
    border-radius: 2px;
}
.time p {
    padding-bottom: 5px;
}
.evtdate p {
    padding-bottom: 5px;
}

/*List view*/
.productstyle-list-items {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    display: flex;
    flex-wrap:wrap;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}
.product-img {
    width: 30%;
}

.product-content{width: 60%;padding-left: 20px; align-self: center;}

.listview-events {
    width: 90%;
}

.productstyle-list-items .product-img img
{
    width: 100%;
    height: 165px;
    object-fit: cover;
}

.product-date p{
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
}

.product-content .product-title
{
    font-size: 16px;
    line-height: 26px;
    min-height: auto;
    font-weight: bold;
}

/**/

.assets-list-items {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    display: flex;
    flex-wrap:wrap;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

.listview-assets {
    width: 90%;
}

.assets-list-items .product-img img
{
    width: 100%;
    height: 195px;
    object-fit: cover;
}

.product-date p{
        margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
}

.assetsproduct-content .product-title
{
    font-size: 16px;
    line-height: 26px;
    min-height: auto;
    margin-bottom: 5px;
    font-weight: bold;
}
.assetsproductlabel
{
    background-color: #43c8df;
    display: inline;
    padding: 7px 9px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 3px;
    cursor: pointer;
    transition: all 400ms ease;
}

.assetsproductlabel a{color: #fff;}
.assetsproduct-content{padding: 10px 40px;}
.assetsprice{
        clear: both;
        margin-top: 0px;
        margin-bottom: 15px;
}
.assetsprice p{
        padding-bottom: 0px;
    margin-bottom: 5px;
}

.listview-assets .btn-common.label-danger {
    background-color: #6c757d;
}

.listview-assets .btn-common {
    background-color: #007bff;
    display: inline;
    padding: 7px 9px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 3px;
    cursor: pointer;
    transition: all 400ms ease;
}

.listview-assets .btn-common.label-danger a {
    color: #fff;
    text-decoration: none;
}

/* Assets details page*/
.assetsdetail .img-sec{text-align: center;}
.assetsdescription{white-space: pre-line;
line-height: 28px;
}
.assetsinfo
{
   
    line-height: 28px;
    font-size: 16px;
    white-space: pre-line;
    color: #6F7287;
}

.infotitle
{
    font-size: 20px;
    margin-bottom: 0;
    text-transform: capitalize;
}
.assetsdetail .event-detail-sec .left-sec {
    padding: 50px 30px 0px 30px;
}

.assetsdetail hr {
    border: 0;
    border-top: 0;
    height: 2px;
    margin-bottom: 30px;
    border-bottom: 2px dashed #6F7287;
}
.assetsdetail .event-img-sec .img-sec img {
    object-fit: cover;
    height: 360px;
    width: auto;
}


.assetsdetail .event-img-sec .img-sec {
    background-color: #fff;
}

/*29-10-2020*/
.assetssidebar
{
    position: relative;
    float: left;
    display: block;
    padding: 19px 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 6px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    min-height: 230px;
    margin: 0px 8px 30px 8px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);

}

.assetssidebar .ul-cat-wrap li
{
    padding-bottom: 6px;
    list-style: none;
    border-bottom: 1px solid #e4e4e4;
    margin-left: 0;
    font-size: 15px;
    padding-top: 6px;
    font-weight: 600;
}

.assetssidebar .getcategoryid
{
    padding: 0;
    margin: 0;
}


/**/

.event-detail-sec .tabs {
    background: #fff;
    position: relative;
    margin-bottom: 50px;
}

.event-detail-sec .tabs > input,
.event-detail-sec .tabs > span {
    width: 32%;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 0;
    font-size: 16px;
    font-weight: 600;
}

.event-detail-sec .tabs > input {
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    z-index: 99;
}

.event-detail-sec .tabs > span {
    background: #f0f0f0;
    text-align: center;
    overflow: hidden;
}

.event-detail-sec .tabs > span i,
.event-detail-sec .tabs > span {
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}

.event-detail-sec .tabs > input:hover + span {
    background: rgba(255,255,255,.1);
}

.event-detail-sec .tabs > input:checked + span {
    background: #fff;
}

.event-detail-sec .tabs > input:checked + span,
.event-detail-sec .tabs > input:hover + span {
    color: #3498DB;
}

.event-detail-sec #tab-1, .event-detail-sec #tab-1 + span {
    left: 0;
}

.event-detail-sec #tab-2, .event-detail-sec #tab-2 + span {
    left: 32%;
    font-size: 16px;
}

.event-detail-sec #tab-3, .event-detail-sec #tab-3 + span {
    left: 64%;
    font-size: 16px;
}


/*New for member*/
.event-detail-sec .memberdetail .tabs > input,
.event-detail-sec .memberdetail .tabs > span {
    width: 30%;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 0;
    font-size: 18px;
    font-weight: 600;
}

.event-detail-sec .memberdetail #tab-1, .event-detail-sec .memberdetail #tab-1 + span {
    left: 0;
}

.event-detail-sec .memberdetail #tab-2, .event-detail-sec .memberdetail #tab-2 + span {
    left: 32%;
}

.event-detail-sec .memberdetail #tab-3, .event-detail-sec .memberdetail #tab-3 + span {
    left: 64%;
    font-size: 16px;
}
/*End for member*/

.event-detail-sec .tab-content {
    padding: 75px 0px 20px;
    width: 100%;
    min-height: auto;
}

.event-detail-sec .tab-content section {
    width: 100%;
    display: none;
}

.event-detail-sec .tab-content section h1 {
    margin-top: 15px;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
}

.event-detail-sec #tab-1:checked ~ .tab-content #tab-item-1  {
    display: block;
    white-space: pre-line;
    font-size: 16px;
    padding: 0px 25px;
}

.event-detail-sec #tab-2:checked ~ .tab-content #tab-item-2  {
    display: block;
    white-space: pre-line;
    font-size: 16px;
    padding: 0px 25px;
}

.event-detail-sec #tab-3:checked ~ .tab-content #tab-item-3  {
    display: block;
    white-space: pre-line;
    font-size: 16px;
    padding: 0px 25px;
}

/*New for member*/
.event-detail-sec .memberdetail #tab-1:checked ~ .tab-content #tab-item-1  {
    display: block;
    white-space: pre-line;
    font-size: 16px;
    padding: 0px 25px;
}

.event-detail-sec .memberdetail #tab-2:checked ~ .tab-content #tab-item-2  {
    display: block;
    white-space: pre-line;
    font-size: 16px;
    padding: 0px 25px;
}

.event-detail-sec .memberdetail #tab-3:checked ~ .tab-content #tab-item-3  {
    display: block;
    white-space: pre-line;
    font-size: 16px;
    padding: 0px 25px;
}
/*End fo member*/

/* effect-3 */

.event-detail-sec .effect-3 .line{
    background: #3498DB;
    width: 32%;
    height: 4px;
    position: absolute;
    top: 56px;
}

.event-detail-sec #tab-1:checked ~ .line {
    left: 0;
}

.event-detail-sec #tab-2:checked ~ .line {
    left: 32%;
}

.event-detail-sec #tab-3:checked ~ .line {
    left: 64%;
}

/*New for member*/
.event-detail-sec .memberdetail .effect-3 .line{
    background: #3498DB;
    width: 30%;
    height: 4px;
    position: absolute;
    top: 56px;
}

.event-detail-sec .memberdetail #tab-1:checked ~ .line {
    left: 0;
}

.event-detail-sec .memberdetail #tab-2:checked ~ .line {
    left: 32%;
}

.event-detail-sec .memberdetail #tab-3:checked ~ .line {
    left: 64%;
}
/*End fo member*/

.assetsdetail .btn-common.label-danger {
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    background-color: #6c757d;
}


.allavailability select
{
  font-size: 16px;
    padding: 4px 10px;
    margin: 0px 0px 25px 0px;
    width: 100%;  
}

.member {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 1em;
}

.member .member-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.member:hover .member-overlay{
    opacity: 1;
}

.member-image-tile{
    height:100%;
    width:100%;
}

.member-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.member:hover .member-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.member-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.member-title {
    color: #fff !important;
    font-weight: 500;
}

.member-details p{
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom{
    top: 80%;
}

/*external*/
.external
{
    font-size: 18px;
    font-weight: 600;
}
.wrapper
{
    padding-bottom: 12px;
}

/*01-12-20*/
.member-detail-right{padding-left: 30px !important; border-left: 1px solid #ece5e5 !important;}

.accordian-wrap {margin: 0; }
.accordian-wrap .card-header {color: #41acb4; cursor: pointer; padding: 0px; border-radius: 0; background: transparent; border-bottom: none;}
.accordian-wrap .card {border: none; box-shadow: none; margin-bottom: 15px;}
.accordian-wrap .card-body-wrap {padding: 0; }
.accordian-wrap .card-body-wrap p {margin-bottom: 2px; padding-bottom: 10px; }
.tab-wraps li.nav-item {margin: 0; width: -webkit-fill-available; background: #f7f7f7;  border-radius: 0; color: #930606; }
.tab-wraps .nav-pills .nav-item.show .nav-link, .tab-wraps .nav-pills .nav-link.active {background: #fff;color: #930606; border-radius: 0;border-bottom: 3px solid #930606; font-size: 18px; font-weight: bold; }
.tab-wraps .nav-pills .nav-link {color: #930606; font-weight: bold; text-align: center; font-size: 18px; }
.tab-wraps .tab-content>.tab-pane {padding: 10px 20px; }
.tab-wraps img.photos-gallary {width: 200px; height: 200px; margin: 0 20px 20px 0; }
.accordian-wrap .card-header p.title-tag {font-weight: bold;position: relative;     padding-bottom: 10px; }
.tab-wraps .nav.nav-pills {box-shadow: 0px 0px 3px 0px #e8e8e8; }
.tab-wraps .nav-pills .nav-link:hover {background: #fff; border-bottom: 3px solid #fff; /* box-shadow: none; */ }
.personal-wrap .title span {margin-bottom: 2px; font-weight: bold; font-size: 18px; }
.personal-wrap .title p.sub-title {font-weight: normal; color: #5d5d5d; /* margin-bottom: 10px; */ }
.personal-wrap .title {margin-bottom: 15px; }
/*.accordian-wrap .card-header p.title-tag::after{content: '-'; position: absolute; top: -7px; right: 13px; font-size: 22px;}

.accordian-wrap .card-header p.title-tag.collapsed::after{content: '+';}*/
.name p.basic-info {line-height: 28px; }

/*New accordian*/
.biocontainer {
    width:100%;
}
.headingtwonewdiv .title{    
    font-size: 18px;
    font-weight: bold;
}
.biocontainer div {
    width:100%;
    cursor: pointer;
}
.biocontainer .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.biocontainer .content {
    display: block;
    padding : 5px;
}
.headicon
{
  float:right;
  font-size: 18px;
    font-weight: bold;
}
/*End New accordian*/

@media (max-width: 1023px){

.member-detail-right {padding-left: 8px !important; border-left: none !important; }
.tab-wraps .tab-content>.tab-pane {padding: 0; }

}

@media (max-width: 576px){

.tab-wraps li.nav-item {margin-left: 0; width: auto;}
.tab-wraps .nav.nav-pills {overflow-x: scroll; white-space: nowrap; max-width: fit-content; margin: 0; }

}

.specializations
{
    margin-top: 15px;
}

.accordian-wrap .title-tag{font-size: 18px;}

.tabdownload{width: 100%;}

.downloadimg
{
    border: 4px dotted #adadad;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
}
.downloadimg img{
    width: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
.sociallink a {
    padding: 0px 5px;
}

.sociallink img{width: 30px;}

.product-date, .locationname {
    margin-bottom: 5px;
}
.specializations .personal-wrap .title p.sub-title
{
    padding-bottom: 10px;
}

.detailcontact p {
    padding-bottom: 10px;
}

.memberproject .assetsproduct-content
{
    width: 70%;
}

.projectslisting .assetsproduct-content
{
    width: 70%;
}

.projectbutton
{
    text-align: center;
    top: 15px;
    position: relative;
}

.projectslisting .projectdiv p.product-title {
    min-height: 0px;
}

/*08-01-2021*/
.listview-project {
    width: 100%;
}
.projectslisting .product-img {
    width: 20%;
}
.productthumb {
    max-width: 137px;
    width: 100%;
}

.memberproject .assetsproduct-content
{
    width: 70%;
}


.memberprojectlisting .listview-project .product-img
{
    width: 20%;
}

.eventpage .listview-events p {
    padding-bottom: 0px;
}

.eventpage .listview-events p.product-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

img.organizationlogo {
    object-fit: contain;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.8;
}
.eventdetail .organizationlogo
{
    object-fit: contain !important;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.8;
}


/*Project details page*/
.projectdetail .project-img-sec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.projectdetail .project-img-sec .thumbnail {
    width: 20%;
}

.projectdetail .project-img-sec .img-sec {
    width: 70%;
}
.projectdetail .project-img-sec .img-sec img {
    object-fit: cover;
    height: 310px;
    width: 100%;
}

.projectdetail .project-img-sec .ing-title {
    width: 30%;
    padding: 20px 30px 0;
    background-color: #ececec;
}

.projectdetail .project-img-sec .ing-title h1 {
    font-size: 20px;
    color: #1E0A3C;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.5;
}

.projectdetail .project-detail-sec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.projectdetail .project-detail-sec .left-sec {
    width: 70%;
    padding: 60px 20px;
}

.projectdetail .project-detail-sec .right-sec {
    width: 30%;
    padding: 60px 10px 0;
}

.projectdetail .project-detail-sec .left-sec h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
}

.projectdetail .prospace p {
    font-size: 16px;
    margin-bottom: 0px;
    color: #000;
}

.prospace {
    margin-bottom: 20px;
}

.column {
  display: inline-block;
  width: 23%;
}


/*17-02-2021*/

.crewroles 
{
    display: inline-grid;
}

.rolesdiv
{
    display: inline-flex;
}  

.rolesdiv .typename
{
    font-size: 14px;
    font-weight: 800;
    padding-right: 12px;
}
    
.longattrval span
{
    margin: 0px 5px;
    background: #2f2e2e;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px; 
}
      
.videos .column {
    margin-right: 40px;
}


.projectdetail .project-img-sec .thumbnail img {
    width: 100%;
    height: 100%;
}


.projectdetail .project-img-sec .img-sec video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media only screen and (max-width: 991px) {

    .projectdetail .project-img-sec .ing-title {width: 100%; }

    .projectdetail .project-img-sec .thumbnail {width: 30%; }

    .projectdetail .project-img-sec .img-sec {width: 100%; }

    /**/
    .projectdetail .project-detail-sec .left-sec {
    width: 100%;
    }
    .column {
    width: 70%;
    }

    .projectdetail .prospace p {
    font-size: 12px;
    }

    .projectdetail .project-detail-sec .right-sec {
        width: 100%;
    }
    .projectdetail .project-detail-sec .left-sec {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .projectdetail .project-detail-sec .right-sec
    {
        padding: 15px 10px 0;
    }
}

@media only screen and (max-width: 481px) {
    
    .projectdetail .project-img-sec .thumbnail {
        width: 100%;
        text-align: center;
    }

    .projectdetail .project-img-sec .thumbnail img {
        width: auto;
        max-width: 400px;
        margin: 0 auto 20px;
        max-height: 230px;
        height: auto;
    }

    .projectdetail .project-img-sec .img-sec {
        width: 100%;
    }

    .projectdetail .project-img-sec .ing-title {
        width: 100%;
    }

}


/*New video*/

.amsvideos .video-container {
    width: 1080px;
    margin: 0 auto;
}

.amsvideos .video-row {
    display: flex;
    flex-wrap: wrap;
}

.amsvideos .video-row .video-col, .amsvideos .video-row .audio-col , .amsvideos .video-row .amsimage-col {
    padding: 15px;
    width: calc(33.33% - 30px);
    padding-left: 0;
}

.amsvideos .video-row .video-col .video-thumb {
    width: 100%;
}

.amsvideos .video-row .video-col .video-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.amsvideos .video-thumb {
    display: inline-block;
    position: relative;
}

.amsvideos .video-thumb a.open-button {position: absolute;left: 0;right: 0;top: 0;bottom: 0;}
.amsvideos .popup-content video {
    width: 100%;
    height: auto;
}
/*stroke: */
 
.amsvideos .popup {
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    width:100%;
    height:100%;
    display:none;
    z-index: 9999;
}
 
/* Popup inner div */
.amsvideos .popup-content {
    width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 100px;
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
    border-radius: 3px;
    background: #fff;
    position: relative;
}
 
/* Popup close button */
.amsvideos .close-button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 20px;
    background: rgba(0,0,0,0.8);
    font-size: 15px;
    text-align: center;
    color: #fff;
    text-decoration:none;
}
 
.amsvideos .close-button:hover {
    background: rgba(0,0,0,1);
}
 
@media screen and (max-width: 720px) {
.amsvideos .popup-content {
    width:90%;
    } 
}

/*Video*/

.amsvideo-thumb { position: relative; }

.amsvideo-thumb a {
    position: absolute;
    display: block;
    background: url(../img/amsplay-btn.png);
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*AMS Login form*/
.amsloginform { 
  width: 100%;
}

.amsloginform .post-group { 
  width: 100%; 
  margin-bottom: 10px; 
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  border-radius: 4px;
}

.amsloginform input { 
  width: 100%; 
}  


.amsuserlayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.customloader img{width: 35px;}

/*=======Project Popup=============*/
.customprojectloader img{width: 35px;}
#projectpassword{width: 70%;}

.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
    overflow-y: auto;
}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.amsloginpopup .close-btn {
  width: 25px;
    height: 25px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 20px;
    background: rgba(0,0,0,0.8);
    font-size: 15px;
    text-align: center;
    color: #fff;
    z-index: 99;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (min-width:800px){
    .custom-model-main:before {
      content: "";
      display: inline-block;
      height: auto;
      vertical-align: middle;
      margin-right: -0px;
      height: 100%;
    }
}
@media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
}

.paymentdiv
{
    width: 100%;
    /*margin: 0 auto;*/
    text-align: center;
    margin-bottom: 10px;
}

.paymentclass
{
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.paymentclass:active, .paymentclass:focus, .paymentclass:hover
{ 
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}    

.video-main {
    position: relative;
}

.video-main .video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: url(../img/amsplay-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.amsaudio-thumbnew a {
    position: absolute;
    display: block;
    background: url(../img/amsaudio.png);
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.amsimagediv {position: relative; width: 100%;}
.amsimagediv a {
    position: absolute;
    display: block;
    background: url(../img/amsimageicon.png);
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.amsaudioicon
{
    height: 90px;
}

.video-col img, .audio-col img {height: 103px; width: 100%; }
.amsimagediv img{height: 103px;}
#amsaudio_player {
    width: 100% !important;
}

.fc-scroller.fc-day-grid-container
{
    height: auto !important;
    overflow: unset !important;
}

@media (max-width:767px){
    .amsvideos .video-row .video-col {margin: 8px; width: calc(50% - 16px);}
    .amsvideos .video-row .video-col, .amsvideos .video-row .audio-col, .amsvideos .video-row .amsimage-col {
        padding: 15px;
        width: calc(50% - 30px);
        padding-left: 0;
    }

    .assetsdetail .event-detail-sec .left-sec {
        padding: 10px 5px;
    }
    .event-detail-sec #tab-1:checked ~ .tab-content #tab-item-1, .event-detail-sec #tab-2:checked ~ .tab-content #tab-item-2, .event-detail-sec #tab-3:checked ~ .tab-content #tab-item-3 {
        padding: 0px;
    }

    .event-detail-sec .tabs > input, .event-detail-sec .tabs > span
    {
        font-size: 14px !important;
    }

    .assetsdetail .fc th, .assetsdetail .fc td {
        font-size: 10px;
    }

    .assetsdetail .fc button
    {
        padding: 0 .2em;
        font-size: 12px;
    }

    .eventdetail .event-detail-sec .left-sec h2 {
        font-size: 16px;
    }

    .reg-sec {
    margin-bottom: 28px;
    }
}

@media (max-width:575px){
    .amsvideos .video-row .video-col, .amsvideos .video-row .audio-col, .amsvideos .video-row .amsimage-col {
        padding: 15px;
        width: 100%;
        padding-left: 0;
    }

    .amsimagediv img{width: 100%;}
}

@media (max-width:481px){
.amsvideo-thumb a {width: 30px; height: 30px; }
.amsaudio-thumbnew a {width: 30px; height: 30px; }
}

.amsvideodownload {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 5px 14px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
}

.longattribute p {
    font-size: 14px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.photos .column img
{
    height: 100px;
    padding-right: 5px;
} 

.amsmargintop
{
    padding-top: 10px;
}

.continuetag
{
    width: 100%;
    clear: both;
    text-align: center;
    padding: 10px 0;
}

.audio-col {
    width: 100px;
    display: inline-block;
    clear: both;
    margin-right: 10px;
}

.amsaudio-thumbnew
{
    position: relative;
}

.projectpagebutton a{
        padding-right: 10px;
}

.projectpagebanner .video-main img
{
    height: 422px !important;
    object-fit: fill !important;
}

.ams-content .eventdetail .fc-content {
    background: #337AB7;
    color: #fff;
}
.ams-content .notavailable .fc-content {
    background-color: #fb6e6e;
    color: #fff;
    font-size: 11px;
    padding: 2px 0px;
}
.ams-content .eventdetail .fc-event, .ams-content .eventdetail .fc-event-dot {
    background-color: #fb6e6e00;
}

.ams-content .eventdetail .fc-event
{
    border: 1px solid #fb6e6e00;
}
.ams-content .eventdetail span.fc-time {
    display: none;
}

.ams-content .eventdetail .fc-content {
    text-align: center;
}

.externaldiv{
    padding-bottom: 15px;
}

.assetsdetail table
{
    margin: 0px !important;
}

.assetsdetail hr.fc-divider {
    display: block;
}

.event-detail-sec #tab-1:checked~.labels #label-tab-1,.event-detail-sec #tab-2:checked~.labels #label-tab-2,.event-detail-sec #tab-3:checked~.labels #label-tab-3 {
    border-bottom: 3px solid #000;
    background: #fff;
}

.event-detail-sec .tabs>input {
    opacity: 0 !important;
    width: auto !important;
    height: auto !important;
    line-height: unset !important;
    position: absolute !important;
}

.event-detail-sec .labels label {
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    background: #f1f1f1;
    font-size: 16px;
    font-weight: 600;
}

.event-detail-sec .tabs .labels {
    display: flex;
    flex-wrap: wrap;
}.event-detail-sec #tab-1:checked~.labels #label-tab-1,.event-detail-sec #tab-2:checked~.labels #label-tab-2,.event-detail-sec #tab-3:checked~.labels #label-tab-3 {
    border-bottom: 3px solid #000;
    background: #fff;
}

.event-detail-sec .tabs>input {
    opacity: 0 !important;
    width: auto !important;
    height: auto !important;
    line-height: unset !important;
    position: absolute !important;
}

.event-detail-sec .labels label {
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    background: #f1f1f1;
    font-size: 16px;
    font-weight: 600;
}

.event-detail-sec .tabs .labels {
    display: flex;
    flex-wrap: wrap;
}

.assetsdetail .fc-toolbar .fc-left
{
    font-size: 14px;
}
.assetsdetail .event-detail-sec .left-sec h2 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
}
.assetsdetail .fc-toolbar .fc-right
{
    font-size: 14px;
}
.fc-day-header {
    font-size: 14px;
    font-weight: 400;
}