GitHub Plugin URI: favaarts/AMS-for-WordPress
GitHub Plugin URI: https://github.com/favaarts/AMS-for-WordPress


input[type=text]{
    width: 500px;
}

.productstyle {
    width: 45%;
    float: right;
    border: 1px solid;
    display: block;
    padding: 5px 5px 10px 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    min-height: 230px;
    margin: 6px 8px;
}

.productstyle .label-success {
    background-color: #5cb85c;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.productstyle .asset_item .label {
    font-size: 14px;
    line-height: 14px;
}
